            html,
            body,
            * {
                margin: 0;
                padding: 0;
                margin-bottom: 0;
                box-sizing: border-box;
            }
            
            .wrapper #app {
                margin: 0 auto;
                max-width: 1024;
                width: 100%;
                padding: 0;
            }
            
            #main {
                width: 75%;
                padding: 30px;
            }
            
            div.element {
                padding: 15px 25px;
                margin-bottom: 20px;
                background-color: rgba(0, 0, 0, 0.02);
                display: inline-block;
                border-radius: 10px;
            }
            /*-------------------INPUTS-------------------*/
            
            div#forms-menu {
                padding: 0 30px;
                position: fixed;
                width: 50%;
                bottom: 0;
                left: 0;
                height: 0;
                transition: all 0.5s ease-in-out;
                background: #fafafa;
            }
            
            div#forms-menu.active {
                height: auto;
                padding-top: 30px;
                padding-bottom: 30px;
                height: 70vh;
            }
            
            div#forms-menu i.close {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                display: none;
            }
            
            div#forms-menu.active i {
                display: none;
            }
            
            div#forms-menu.active i.close {
                display: flex;
            }
            
            div#forms-menu>button {
                background: #84B726;
                border: none;
                width: 45px;
                height: 45px;
                padding: 10px 10px 7px 9px;
                cursor: pointer;
                position: absolute;
                top: -45px;
                left: 0;
                border-top-right-radius: 5px;
            }
            
            div#forms-menu.active>button {
                background: #fafafa;
            }
            
            div#forms-menu.active>button svg {
                fill: #84B726;
            }
            
            div#forms-menu>button svg {
                fill: #fff;
            }
            
            div#forms-menu form {
                padding: 15px;
                margin-bottom: 1em;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
            }
            
            div#forms-menu form button {
                cursor: pointer;
                border-radius: 5px;
                padding: 0.5em 1em;
                background: #84B726;
                font-weight: bold;
                color: #fff;
                border: none;
                margin-top: 0.2em;
                transition: all 0.3s ease-in-out;
            }
            
            div#forms-menu form button:hover {
                background: #000;
            }
            
            div#forms-menu form textarea {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                padding: 1em;
                border-radius: 5px;
                background: #fcfcfc;
                font-weight: bold;
                border-color: rgba(0, 0, 0, 0.1);
            }
            
            i svg {
                max-width: 25px;
                max-height: 25px;
                width: 25px;
            }
            /*-------------------/INPUTS-------------------*/
            /*--------DEBUGGER--------*/
            
            div#debugger {
                position: fixed;
                top: 0;
                right: 0;
                padding: 10px;
                background: rgba(0, 0, 0, 0.1);
            }
            
            div#debugger>div {
                margin-bottom: 10px;
            }
            
            div#debugger>div:last-child {
                margin-bottom: 0;
            }
            
            div.element:nth-child(2) {
                margin-top: 200vh;
            }
            
            #history {
                position: fixed;
                width: 25%;
                max-height: 60vh;
                bottom: 5vh;
                right: 0;
                overflow: auto;
                display: flex;
                flex-direction: column;
                background-color: #c2c2c2;
                padding: 10px;
                border-radius: 5px;
            }
            
            #history>div {
                display: block;
                background-color: #fcfcfc;
                border-radius: 5px;
                margin: 0.3em;
                padding: 0.3em;
            }