        html,
        body,
        * {
            margin: 0;
            padding: 0;
            margin-bottom: 0;
        }
        
        .wrapper {
            padding: 30px;
        }
        
        .wrapper #app {
            margin: 0 auto;
            max-width: 1024;
            width: 100%;
            padding: 0;
        }
        
        div.element {
            padding: 15px 25px;
            margin-bottom: 20px;
            background-color: rgba(0, 0, 0, 0.02);
            display: inline-block;
            border-radius: 10px;
        }
        /*-------------------INPUTS-------------------*/
        
        div#forms-menu {
            padding: 0 30px;
            position: fixed;
            width: 50%;
            bottom: 0;
            right: 0;
            height: 0;
            transition: all 0.5s ease-in-out;
        }
        
        div#forms-menu.active {
            height: auto;
            padding-top: 30px;
            padding-bottom: 30px;
            height: 70vh;
            background: #fcfcfc;
        }
        
        div#forms-menu>button {
            background: #fcfcfc;
            border: none;
            padding: 10px 10px 7px 13px;
            cursor: pointer;
            position: absolute;
            top: -55px;
            right: 0;
        }
        
        div#forms-menu form {
            padding: 15px;
            margin-bottom: 1em;
            background: rgba(255, 255, 255, 0.75);
            border-radius: 5px;
        }
        
        div#forms-menu form button {
            cursor: pointer;
            border-radius: 5px;
            padding: 0.5em 1em;
            background: #333;
            font-weight: bold;
            color: #fff;
            border: none;
        }
        
        div#forms-menu form button:hover {
            background: #000;
        }
        
        div#forms-menu form textarea {
            width: 100%;
            border-radius: 5px;
            background: #fcfcfc;
            font-weight: bold;
            border-color: rgba(0, 0, 0, 0.1);
        }
        
        i svg {
            width: 35px;
        }
        /*-------------------/INPUTS-------------------*/
        /*--------DEBUGGER--------*/
        
        div#debugger {
            position: fixed;
            top: 0;
            right: 0;
            padding: 10px;
            background: rgba(0, 0, 0, 0.1);
        }
        
        div#debugger>div {
            margin-bottom: 10px;
        }
        
        div#debugger>div:last-child {
            margin-bottom: 0;
        }
        
        div.element:nth-child(3) {
            margin-top: 200vh;
        }